
* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-image: url("../img/background.svg");
    background-size: cover;
    font-family: 'Pacifico', cursive;

    margin-top: 50px;
    height: 100vh;
    
}

a {
    text-decoration: none;
}


h1 {
    color: #4F4F4F;
    font-size: 15pt;
}

h2 {
    color: #bfbfbf;   
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;

}



section {
    background-color: white;
    width: 85vw;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fotoPerfil {
    width: 40%;
    margin-top:20px; 
    border-radius: 50%;
}  
    
.perfil {
    height: 40%;
    text-align: center;
    
}

.redesSociais {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
   
}

.redesSociais img {
    width: 30px;
    height: 30px;
    margin: auto 8px;
    filter: invert(50%)
}
.redesSociais img:hover{
    filter: sepia(600%)
}




